body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
    /* Використовуємо flexbox для ідеального центрування */
    display: flex;
    justify-content: center; /* Центрування по горизонталі */
    align-items: center;
    min-height: 100vh;
}

#game-map {
    /* Збільшуємо розмір на половину (60 + 30 = 90) */
    width: 90vmin;
    height: 90vmin;
    background-color: #000000; /* Чорний колір космосу */
    border: 2px solid #4a4a8f; /* Темно-синій кордон */
    position: relative; /* Встановлюємо контекст позиціонування для дочірніх елементів */
}

#base {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Техніка для ідеального центрування */
    width: 10%; /* Розмір бази відносно карти */
    height: 10%;
    background-color: #cccccc; /* Світло-сірий колір бази */
    border: 1px solid #ffffff;
}